@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* https://github.com/zera-app/fexend-html */
@theme {
	--color-primary: #615fff;
	--color-primary-dark: #7c86ff;
	--color-secondary: #9333ea;
	--color-secondary-dark: #c27aff;
	--color-warning: #f59e08;
	--color-warning-dark: #ffb900;
	--color-success: #00c950;
	--color-success-dark: #05df72;
	--color-danger: #fb2c36;
	--color-danger-dark: #ff6467;
	--color-info: #00b8db;
	--color-info-dark: #00d3f2;
	--color-foreground: #ffffff;
	--color-foreground-dark: #0f172a;
	--color-background: #f1f5f9;
	--color-background-dark: #020617;
	--color-dark: #020618;
	--color-dark-secondary: #020618;
	--color-white-dark: #f1f5f9;
}

body {
	@apply font-sans text-base font-normal bg-slate-100 dark:bg-slate-950 text-slate-900 dark:text-slate-100;
	font-family: "Lexend", sans-serif;
}

html.dark body {
	@apply bg-background-dark text-foreground;
}
